.about {
  padding-top: 125px;
  background-color: $background_main-color;
}

.about__label {
  display: block;
  margin-bottom: 15px;
  font-family: $main-font-family;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
}

.about__title {
  margin-bottom: 26px;
  font-family: $main-font-family;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $brand-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
}

.about__flexbox {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: -17px;
  }
}

.content-box {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 17px) / 2);
    margin-left: 17px;
    justify-content: space-between;
  }
}

.about__content {
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.about__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }

  &--black {
    padding: 40px 0;
    color: $main_text-color;
  }

  &--grey {
    padding-bottom: 20px;
    color: $discription_text-color;
  }
}

.about__button {
  background: $background-color;
  border-radius: 22px;
  border: none;
  width: 176px;
  height: 44px;

  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $brand-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $background-color-hover;
  }
}

.about__icone {
  margin-left: 13px;
  width: 8px;
  height: 10px;
  stroke: $brand-color;
  fill: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  background-color: $background_main-color;
}

.about-modal {
  position: relative;
}

.about-modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-color: $background-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $background-color-hover;
  }
}

.about-modal_icon-close {
  width: 100%;
  height: 100%;
  stroke: $brand-color;
}

.about-modal__content {
  overflow: auto;
  max-width: 100vw;
  max-height: 100vh;
}
