$brand-color: #d41443;
$brand-color-hover: #c7133e;
$mobile-menu-color: #e17992;
$main_text-color: #000000;
$text-color: #ffa5ba;
$discription_text-color: #907e82;
$icons-color: #fea5bb;
$background_header-color: #ffb8ca;
$background_main-color: #fff5f6;
$background_reviews-color: #e5e5e5;
$reviews-color: #fafafa;
$background-color: #ffffff;
$background-color-hover: #ecebeb;
$foodtruck-color: #c2e297;
$cafe-color: #f0d1a5;
$main-font-family: 'Titan One', cursive, sans-serif;
$secondary-font-family: 'DM Sans', sans-serif;

