<section class="contacts__section" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Our Locations</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__title cafe">CAFE</p>
        <div class="contacts__discription">
          <p class="contacts__subtitle city">Chicago</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__working-time">
          <p class="contacts__subtitle">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__subtitle">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact-us">
          <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__title food-truck">FOOD TRUCK</p>
        <div class="contacts__discription">
          <p class="contacts__subtitle city">Los Angeles</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__working-time">
          <p class="contacts__subtitle">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__subtitle">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact-us">
          <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__title cafe">CAFE</p>
        <div class="contacts__discription">
          <p class="contacts__subtitle city">New York</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__working-time">
          <p class="contacts__subtitle">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__subtitle">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact-us">
          <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button class="contacts__btn contacts__btn--current">
        <span class="contacts__btn-label">Our Locations</span>

        <svg class="contacts__svg contacts__svg--current">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="contacts__btn">
        <span class="contacts__btn-label">Franchise</span>

        <svg class="contacts__svg">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
