<footer class="footer section" id="footer">
  <div class="container footer-container">
    <div class="footer__sub-block">
      <div class="footer__name-block">
        <p class="footer__title">homemade ice cream made</p>
        <p class="footer__title footer__title--red">with passion</p>
      </div>
      <div class="footer__contacts-block">
        <div class="footer__social-media">
          <ul class="social-media__list">
            <li class="social-media__item">
              <a
                href="https://github.com/"
                class="social-media__link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-media__icon" width="18.82px" height="18.82px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-media__item">
              <a
                href="https://web.telegram.org/"
                class="social-media__link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-media__icon" width="19.2px" height="14.93px">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-media__item">
              <a
                href="https://www.facebook.com/"
                class="social-media__link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-media__icon" width="8.8px" height="19.2px">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <address class="footer__address address">
          Feel free to contact
          <a href="tel:+61(0)383766284" class="address__link"> +61 (0) 383 766 284</a>
        </address>
      </div>
    </div>
  </div>
  <div class="footer__copyright-block">
    <p class="footer__copyright copyright">
      &copy; Copyright 2019 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
