<section id="products" class="products">
  <div class="container">
    <label class="products__title--main">100% natural</label> <h2 class="products__title--base">products</h2>
    <ul class="flex-container list">
      <li class="flex-container__list-item">
        <div class="strawberry">
          <h3 class="products__title">ice cream</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button" class="products__button">
          <svg class="products__button--icon">
            <use href="./images/symbol-defs.svg#icon-products"></use>
          </svg>
        </button>
        </div>
      </li>
      <li class="flex-container__list-item">
        <div class="chocolate">
          <h3 class="products__title">ice coffee</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button" class="products__button">
          <svg class="products__button--icon">
            <use href="./images/symbol-defs.svg#icon-products"></use>
          </svg>
        </button>
        </div>
      </li>
      <li class="flex-container__list-item">
        <div class="kiwi">
          <h3 class="products__title">milkshakes</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button" class="products__button">
          <svg class="products__button--icon">
            <use href="./images/symbol-defs.svg#icon-products"></use>
          </svg>
        </button>
        </div>
      </li>
    </ul>
  </div>
</section>