<section id="reviews" class="review">
    <div class="container">
        <h2 class="is-hidden">Our reviews</h2>

    <!--Carousel content-->
    <div class="carousel-content">
        <!-- Card 1. Emily -->
        <div class="review__card">

            <picture class="review__picture">
                <source
                  srcset="
                  ./images/mobile/reviews_img1_mobile.jpg 1x, 
                  ./images/mobile/reviews_img1@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img1_mobile.jpg" width="85" alt="client" />
            </picture>

            <svg  class="review__quote" width="54px" height="40px">
                <use href="./images/symbol-defs.svg#quote"></use>
            </svg>

            
            <div class="review__card--textblock">

                <div class="backlines">

                    <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
 
                </div>

            </div>     

 
            <div data-mdl class="backdrop is-hidden">            
                <article class="review__article">
                    <div class="article-content">

                        <button data-modal-cls class="modal-close-btn">
                            <svg class="close-svg" width="14" height="14">
                              <use href="./images/symbol-defs.svg#icon-close"></use>
                            </svg>
                        </button>
                          <h3 class="review-title">Emily's review</h3> 
                          <p class="review-date">15.05.2021</p>
                           
                        <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores neque quos quae, optio, ullam magnam maxime doloremque dignissimos iusto cumque veritatis voluptas aspernatur repellat omnis sunt dicta ea a sint! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis unde magni porro iste soluta saepe id aliquam earum maxime quas voluptate, eaque velit quam quis! Ipsam sint itaque fugiat consequuntur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed autem ullam, labore a nemo nobis fugit dolor! Error possimus hic perferendis ipsa atque temporibus maxime illo nam reiciendis laboriosam earum voluptate vel esse soluta laudantium quisquam, sit autem corporis voluptatibus incidunt molestias. Blanditiis quasi quas magnam iste velit? Delectus, quo!</p> 
                        <p class="article-names">Emily, Los Angeles</p>
                    </div>  
                </article>
            </div>  

            <button class="read-more" type="button" data-modal-opn>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
            </button>

            <p class="review__names">Emily, Los Angeles</p>
        </div>  
        <!-- Card 2. Gina -->
        <div class="review__card is-hidden">

            <picture class="review__picture">
                <source
                  srcset="
                  ./images/mobile/reviews_img2_mobile.jpg 1x, 
                  ./images/mobile/reviews_img2@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img2_mobile.jpg" width="85" alt="client" />
            </picture>

            <svg  class="review__quote" width="54px" height="40px">
                <use href="./images/symbol-defs.svg#quote"></use>
            </svg>

            <div class="review__card--textblock">

                <div class="backlines">

                    <p class="review__text">Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
 
                </div>

            </div>     

            <div data-mdl2 class="backdrop is-hidden">            
                <article class="review__article">
                    <div class="article-content">

                        <button data-modal-cls2 class="modal-close-btn">
                            <svg class="close-svg" width="14" height="14">
                              <use href="./images/symbol-defs.svg#icon-close"></use>
                            </svg>
                        </button>
                          <h3 class="review-title">Gina's review</h3> 
                          <p class="review-date">08.06.2021</p> 
                        <p class="article-text">Ullam magnam maxime doloremque dignissimos iusto cumque veritatis voluptas aspernatur repellat omnis sunt dicta ea a sint! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis unde magni porro iste soluta saepe id aliquam earum maxime quas voluptate, eaque velit quam quis! Ipsam sint itaque fugiat consequuntur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed autem ullam, labore a nemo nobis fugit dolor! Error possimus hic perferendis ipsa atque temporibus maxime illo nam reiciendis laboriosam earum voluptate vel esse soluta laudantium quisquam, sit autem corporis voluptatibus incidunt molestias. Blanditiis quasi quas magnam iste velit? Delectus, quo!</p> 
                        <p class="article-names">Gina, Chicago</p>
                    </div>  
                </article>
            </div>  

            <button class="read-more" type="button" data-modal-opn2>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
            </button>

            <p class="review__names">Gina, Chicago</p>
        </div>          
        <!-- Card 3. Mia -->
        <div class="review__card is-hidden">

            <picture class="review__picture">
                <source
                  srcset="
                  ./images/mobile/reviews_img3_mobile.jpg 1x, 
                  ./images/mobile/reviews_img3@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img3_mobile.jpg" width="85" alt="client" />
            </picture>

            <svg  class="review__quote" width="54px" height="40px">
                <use href="./images/symbol-defs.svg#quote"></use>
            </svg>

            <div class="review__card--textblock">

                <div class="backlines">

                    <p class="review__text">Consectetur adipisicing elit. Ad, consequatur. Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
 
                </div>

            </div>     

            <div data-mdl3 class="backdrop is-hidden">            
                <article class="review__article">
                    <div class="article-content">

                        <button data-modal-cls3 class="modal-close-btn">
                            <svg class="close-svg" width="14" height="14">
                              <use href="./images/symbol-defs.svg#icon-close"></use>
                            </svg>
                        </button>
                          <h3 class="review-title">Mia's review</h3>  
                          <p class="review-date">24.05.2021</p>
                        <p class="article-text">Dolores neque quos quae, optio, ullam magnam maxime doloremque dignissimos iusto cumque veritatis voluptas aspernatur repellat omnis sunt dicta ea a sint! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis unde magni porro iste soluta saepe id aliquam earum maxime quas voluptate, eaque velit quam quis! Ipsam sint itaque fugiat consequuntur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed autem ullam, labore a nemo nobis fugit dolor! Error possimus hic perferendis ipsa atque temporibus maxime illo nam reiciendis laboriosam earum voluptate vel esse soluta laudantium quisquam, sit autem corporis voluptatibus incidunt molestias. Blanditiis quasi quas magnam iste velit? Delectus, quo!</p> 
                        <p class="article-names">Mia, New York</p>
                    </div>  
                </article>
            </div>  

            <button class="read-more" type="button" data-modal-opn3>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
            </button>
            <p class="review__names">Mia, New York</p>
        </div>          
    </div>

        <ul class="review__carousel">
            <li>
                <button class="review__carousel--button current" type="button">
                    <svg width="12px" height="12px">
                        <use href="./images/symbol-defs.svg#icon-home"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="review__carousel--button" type="button">
                    <svg width="12px" height="12px">
                        <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="review__carousel--button" type="button">
                    <svg width="12px" height="12px">
                        <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                    </svg>
                </button>
            </li> 
        </ul>  

    </div>    
</section>

